# Gradle
.gradle
build
src/company/build
bin
src/company/bin

# Ignore Gradle GUI config
gradle-app.setting

# Vscode
.vscode

# Some logs
var/log/*
!var/log/.gitkeep

# Ignore unfinished contexts
apps/main/personio/apps/company/controller/hierarchy/*
apps/test/personio/apps/company/controller/hierarchy/*
src/company/main/personio/company/hierarchy/*
src/company/test/personio/company/hierarchy/*